.navbar {
  width: 100%;
}

.nav-item {
  @include media-breakpoint-down(md) {
    flex: 1 1 25%;
    font-size: 0.9em;
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    flex: 1 1 50%;
    font-size: 0.9em;
    text-align: center;
  }

  a {
    color: darken($white, 25%);
  }
  a.active {
    color: $white;
  }
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.site-title {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto -10px;

  a {
    display: flex;
    margin: 10px;
  }
}

.nav-link {
  text-shadow: 0px 0px 5px black;
}
