@import "variables";
@import "ember-bootstrap/bootstrap";

.site-title {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto -10px;

  a {
    display: flex;
    margin: 10px;
  }
}
