@import "variables";
@import "ember-bootstrap/bootstrap";

@import "nav";

body {
  background: url(/static/Wood_Background.jpg) no-repeat center center fixed;
  background-size: cover;

  @include media-breakpoint-between(xs, sm) {
    background: url(/static/Wood_Background-tiled.jpg);
    background-size: 200%;
  }
}

.ashley-and-mike-header {
  font: 400 120px 'Mrs Saint Delafield';
  text-shadow: 0px 0px 30px black;
  padding: 2rem 0 0 0;
  margin-bottom: -2rem;

  a {
    color: white;
    text-decoration: none;
  }

  @include media-breakpoint-between(xs, sm) {
    font: 400 4rem 'Mrs Saint Delafield';
    margin-bottom: -1rem;
  }
}

.cross-page-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  background-color: #fff6d9;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 98%;
  color: #000;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .main-image {
    height: 50vh;
    box-shadow: 0 0 20px;
  }

  .home-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    text-align: center;
    max-width: 90%;
  }

  .home-photo {}
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.vermont-divider {
  margin: 1rem auto;
  display: block;
  max-width: 95%;
}

.wedding-weekend {
  h3 {
    margin-top: 2rem;
    text-decoration: underline;
  }

  h4 {
    margin-top: 2rem;
  }

  .agenda {
    text-align: center;
  }
}

.to-come {
  text-align: center;
}

.footer-text {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin: 1% auto;
}

.wedding-party-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .party-member {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      flex: 0 0 49%;
    }


    .text-container {
      width: 170px;
    }
  }

  .title {
    font-weight: 700;
  }

  .photo {
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
  }
}

.grafton-legend--header {
  text-align: center;
  text-decoration: underline;
}

.grafton-legend {
  width: 60%;
  margin: 0 auto;
  display: block;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
