@import "variables";
@import "ember-bootstrap/bootstrap";

@import "nav";


body {
  background: url(/static/Wood_Background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.ashley-and-mike-header {
  font: 400 120px 'Mrs Saint Delafield';
  text-shadow: 0px 0px 30px black;
  padding: 2rem 0 0 0;
  margin-bottom: -2rem;

  @include media-breakpoint-between(xs, sm) {
    font: 400 4rem 'Mrs Saint Delafield';
    margin-bottom: 1rem;
  }
}

.cross-page-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  background-color: #fff6d9;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 98%;
  color: #000;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
}

.home {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.vermont-divider {
  margin: 1rem auto;
  display: block;
  max-width: 95%;
}
