# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker:
          version: 17.06.0-ce
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t   mikehearn/shlearn-wedding:latest .
          docker build -t   mikehearn/shlearn-wedding:$TAG .

  test:
    docker:
      - image: circleci/node:7.10

    working_directory: ~/repo
    steps:
      - checkout
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker run --rm -ti --cap-add=SYS_ADMIN mikehearn/shlearn-wedding:$TAG yarn test

  deploy:
    docker:
      - image: circleci/node:7.10

    working_directory: ~/repo
    steps:
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
          docker push mikehearn/shlearn-wedding:latest
          docker push mikehearn/shlearn-wedding:$TAG
          ssh -o "StrictHostKeyChecking no" $SITE_USER@$SITE_SERVER docker pull mikehearn/shlearn-wedding
          ssh -o "StrictHostKeyChecking no" $SITE_USER@$SITE_SERVER docker stack deploy --compose-file repos/shlearn-wedding/docker-compose.yml shlearn_wedding

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
