<div class="form-group">
  <div class="form-row mb-3">
    <label>Any song requests for the wedding reception?</label>
    {{textarea value=invitation.musicSuggestions class="form-song-requests form-control" cols="80" rows="4"}}
  </div>

  <div class="form-row">
    <label>Anything else we should know?</label>
    {{textarea value=invitation.additionalNotes class="form-anything-else form-control" cols="80" rows="4"}}
  </div>
</div>