<div class="form-group">
  <div class="form-row">
    <label>Any music suggestions?</label>
    {{textarea value=invitation.musicSuggestions class="form-control" cols="80" rows="6"}}
  </div>

  <div class="form-row">
    <label>Anything else we should know?</label>
    {{textarea value=invitation.additionalNotes class="form-control" cols="80" rows="6"}}
  </div>
</div>