{{#each invitation.guests as |guest|}}
  <div class="rsvp__individual-rsvp">
    <h4 class="text-center">RSVP for {{guest.fullName}}</h4>
    {{rsvp/attendance-questions guest=guest}}
    {{rsvp/meal-questions guest=guest}}
  </div>
{{/each}}