<div class="form-group">
  <p>Please select a meal option for {{guest.displayName}}:</p>
  <div class="form-check">
    {{#radio-button
      name=(concat 'meal-' index)
      value="Beef"
      groupValue=guest.foodChoice
      classNames="radio-button-row"}}
      <div class="row flex-column ml-1">
        <p class="mb-0">Beef</p>
        <p class="small mb-0"><i>Filet mignon with potato au gratin, buttered asparagus spears, port reduction</i></p>
      </div>
    {{/radio-button}}
  </div>
  <div class="form-check">
    {{#radio-button
      name=(concat 'meal-' index)
      value="Chicken"
      groupValue=guest.foodChoice
      classNames="radio-button-row"}}
      <div class="row flex-column ml-1">
        <p class="mb-0">Chicken</p>
        <p class="small mb-0"><i>Herb crusted breast of chicken with con fit tomatoes, crème fraiche potatoes and natural jus</i></p>
      </div>
    {{/radio-button}}
  </div>
  <div class="form-check">
    {{#radio-button
      name=(concat 'meal-' index)
      value="Vegetarian"
      groupValue=guest.foodChoice
      classNames="radio-button-row"}}
      <div class="row flex-column ml-1">
        <p class="mb-0">Vegetarian</p>
        <p class="small mb-0"><i>Grafton cheddar gnocchi with roasted brussels sprouts, butternut squash, fire roasted tomatoes</i></p>
      </div>
    {{/radio-button}}
  </div>
</div>