{{! are you bringing a guest? yes/no}}
<p>Unknown guest.</p>
<form {{action 'updateGuest' guest isBringingGuest on="submit"}}>
  <p>Are you bringing a guest?</p>
  {{#radio-button
    name="bringing-guest"
    value=true
    groupValue=isBringingGuest
    classNames="radio-button-row bringing-guest-radio-button yes"}}
    <span>Yes</span>
  {{/radio-button}}
  {{#radio-button
    name="bringing-guest"
    value=false
    groupValue=isBringingGuest
    classNames="radio-button-row bringing-guest-radio-button no"}}
    <span>No</span>
  {{/radio-button}}
  {{#if isBringingGuest}}
    <p>What is your guest's name?</p>
    {{input class="input-guest-name" type="text" value=guest.fullName}}
  {{/if}}
  <button type="submit">Submit</button>
</form>
{{! what is your guest's name?}}