<div class="site-title">
  <h1 class="ashley-and-mike-header">
    <a href="/">
      <span class="ashley-and-mike-header--ashley">Ashley</span>
      <span class="ashley-and-mike-header--and">&amp;</span>
      <span class="ashley-and-mike-header--mike">Mike</span>
    </a>
  </h1>
</div>
{{partial 'nav'}}
<div class="container">
  <div class="cross-page-style">
    <div class="page-content">
      {{outlet}}
    </div>
  </div>
</div>
<p class="footer-text">Website designed by the bride and groom.</p>
