<div class="site-title">
  <h1 class="ashley-and-mike-header">
    <a href="/">
      <img class="site-svg-header" src="/static/AshleyandMike.svg" alt="Ashley & Mike" />
    </a>
  </h1>
</div>
{{partial 'nav'}}
<div class="container">
  <div class="cross-page-style">
    <div class="page-content">
      {{outlet}}
    </div>
  </div>
</div>
<p class="footer-text">Website designed by the bride and groom.</p>
