
<div class="site-title">
  <h1 class="ashley-and-mike-header">Ashley &amp; Mike</h1>
</div>
{{partial 'nav'}}
<div class="container">
  <div class="cross-page-style">
    {{!--  <img src="/static/collage.png" width="70%"/>  --}}
    <div class="page-content">
      {{outlet}}
    </div>
  </div>
</div>
