<div class="home">
  <div class="home-info">
    <h3>Saturday, June 23, 2018</h3>

    <h5>4:00 PM</h5>

    <img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">

    <h3>The Grafton Inn</h3>
    <p>Grafton, Vermont<br/>92 Main Street<br/>Grafton, Vermont 05146, USA</p>

    <p><a href="https://www.instagram.com/explore/tags/OldManAndTheShley/?hl=en" target="blank">#OldManAndTheShley</a></p>
  </div>

  <div class="home-photo">
    <img class="main-image" src="/static/main-couple-image.jpg" alt="Mike and Ashley" />
  </div>
</div>


{{outlet}}
