<div class="home">
  <p>Saturday, June 23, 2018</p>

  <p>4:00 PM</p>

  <p>The Grafton Inn</p>
  <p>Grafton, Vermont</p>
  <p>92 Main Street, Grafton, Vermont 05146, USA</p>

  <p>#OldManAndTheShley</p>
</div>


{{outlet}}
