<h2>The Wedding Party</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">
<div class="wedding-party-container">
  <div class="party-member">
    <img class="photo" src="/static/courtney.jpg" alt="Courtney Mas Photo">
    <div class="text-container">
      <div class="name">Courtney Mas</div>
      <div class="title">Maid of Honor</div>
    </div>
  </div>
  <div class="party-member">
    <img class="photo" src="/static/charlie.jpg" alt="Charlie Stoebe Photo">
    <div class="text-container">
      <div class="name">Charlie Stoebe</div>
      <div class="title">Best Man</div>
    </div>
  </div>
  <div class="party-member">
    <img class="photo" src="/static/brad.jpg" alt="Brad Mas Photo">
    <div class="text-container">
      <div class="name">Brad Mas</div>
      <div class="title">Bridseman</div>
    </div>
  </div>
  <div class="party-member">
    <img class="photo" src="/static/dave.jpg" alt="Courtney Mas Photo">
    <div class="text-container">
      <div class="name">Dave Olverson</div>
      <div class="title">Groomsman</div>
    </div>
  </div>
</div>
