<h2>Photos</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">
<div>
{{#photo-swipe hideZoomInOut=true items=model as |img|}}
  <img class="thumb" src={{img.msrc}} alt={{img.title}} height="300">
{{/photo-swipe}}
</div>

