<h2>Registry</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">
<div class="text-center">
  <a href="https://www.amazon.com/wedding/ashley-mas-michael-hearn-grafton-june-2018/registry/2EAMVDVZIQ3FO" target="_blank">
    <img class="registry-image amazon" src="/static/amazon.png" alt="Link to Amazon Registry" />
  </a>
  <a href="https://www.zola.com/registry/shleyandhearn" target="_blank">
    <img class="registry-image zola" src="/static/zola.png" alt="Link to Zola Registry" />
  </a>
</div>
