<div class="wedding-weekend">
  <h2>
    Wedding Weekend
  </h2>

  <img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">

  <p>We hope that you can celebrate and relax with us for the entire weekend in
    beautiful, historic Grafton! We will kick off the festivities on Friday night
    with dinner and a bonfire and say farewell on Sunday with a delicious
    breakfast. Here’s the schedule:</p>

  <div class="agenda">
    <h3>Friday, June 22, 2018</h3>

    <h4>
      <p>WELCOME RECEPTION</p>
    </h4>

    <p>6:00 PM – Dinner<br/>
      8:00 PM – Bonfire</p>

    <p><i>Grafton Trails &amp; Outdoor Center</i></p>

    <p>Attire: Casual</p>


    <h3>Saturday, June 23, 2018</h3>

    <h4>
      <p>WEDDING CEREMONY</p>
    </h4>

    <p>4:00 PM</p>

    <p><i>The Grafton Inn</i></p>

    <p>Attire: Dressy Casual</p>

    <h4>
      <p>RECEPTION</p>
    </h4>

    <p>
      4:30 PM – Cocktails<br/>
      6:00 PM – Dinner<br/>
      7:30 PM - Celebration
    </p>

    <p><i>The Grafton Inn and the Phelps Barn</i></p>




    <h3>Sunday, June 24, 2018</h3>

    <h4>
      <p>BREAKFAST</p>
    </h4>

    <p>8:00 – 11:00 AM</p>

    <p><i>The Grafton Inn</i></p>

    <p>Attire: Casual</p>
  </div>
</div>
