<h2>Where to Play</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">
<h3 class="grafton-legend--header">Grafton Inn Legend: Businesses & Attractions</h3>
<img class="grafton-legend" src="/static/graftonlegend.png" alt="Grafton Inn Legend" />
