<h2>
  Where to Stay
</h2>

<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">

<p>
We have reserved all of the rooms at the Grafton Inn for our wedding weekend,
so please call the Reservations Department at (802) 843-2248 to plan your stay.
In the event that all of the rooms at the Inn are booked, the Inn will be able
to point you towards additional lodging options in town.
</p>

<p>
All rooms at the Grafton Inn are $260/night (incl. tax and resort fee) based on double occupancy. An additional guest can be added for $45.
</p>

<p>Please note that the room rate includes:</p>

<ul>
  <li>Morning coffee service</li>
  <li>Breakfast (served in the Garden Room from 8:00 – 10:00 AM)</li>
  <li>Afternoon refreshments</li>
  <li>Fitness center/game room</li>
  <li>Tennis and volleyball courts</li>
  <li>Trail passes to the Grafton Ponds Outdoor Center (see “Where to Play”)</li>
  <li>Free rentals at the Grafton Ponds Outdoor Center (incl. road bikes, mountain bikes, fat bikes, swimming pond, paddle boats, disc golf, stand-up paddle boards and lawn games) (see “Where to Play”)</li>
</ul>

<p><em>If you plan to stay at the Grafton Inn on Friday and Saturday night, please book your rooms by April 1st, 2018.</em></p>


<h2>Travel</h2>

<p>
Grafton is a bit off the beaten path (part of its charm, we promise). Please
visit the <a
  href="http://www.graftoninnvermont.com/about-the-grafton-inn/location-directions/"
  target="_blank">Grafton Inn website</a> for travel tips.</p>
<p>There is no cell service in the area and even GPS can be spotty, so please
bring printed driving directions to and from the venue.
</p>

