<h2>Where to Play</h2>

<h3>Grafton Village</h3>

<p>The historic Grafton Village center and several of its structures (including one of the town's two covered bridges) are listed on the National Register of Historic Places. The town is home to a charming public library, several art galleries, artist studios, museums and other shops (see map below).</p>

<p>Grafton Village maps are available at the front desk of the Inn, and there are brochures in the lobby as well with additional information on local attractions.  </p>

<h3>Grafton Trails &amp; Outdoor Center</h3>

<p>The Grafton Trails &amp; Outdoor Center is a recreation center located about 3/4 of a mile from the Inn down Townshend Road, offering 2,000 acres of beautiful hiking and biking trails and grounds (including many short and non-strenuous loops if you are looking to enjoy the Vermont scenery on an easy stroll). It is part of the Grafton Inn and all guests have complimentary use of the facility. This includes use of the trail system, road bikes, mountain bikes, fat bikes, paddleboats, disc golf, stand-up paddle boards, volleyball courts and lawn games.</p>

<p>Trail Maps are available at the front desk of the Inn.</p>

<h3>Tennis Courts</h3>

<p>Use of the tennis courts in the center of Grafton Village is also complimentary. Ask the Front Desk for directions and rackets.</p>


<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">
<h3 class="grafton-legend--header">Grafton Inn Legend: Businesses & Attractions</h3>
<img class="grafton-legend" src="/static/graftonlegend.png" alt="Grafton Inn Legend" />
